name: CI

on:
  push:
    branches:
    - main
  pull_request:

jobs:
  lint-git:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
        ref: ${{ github.event.pull_request.head.sha }}
    # grab default branch to calculate branch point to know when to stop linting
    - if: ${{ github.base_ref }}
      run: git branch ${{ github.base_ref }} origin/${{ github.base_ref }}
    - uses: actions/setup-node@v2

    - run: yarn install --frozen-lockfile
    - run: yarn lint:git

  lint:
    needs: lint-git

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v2

    - run: yarn install --frozen-lockfile
    - run: yarn lint:md
    - run: yarn lint:js

  test:
    needs: lint

    strategy:
      matrix:
        os:
        - ubuntu-latest
        - macos-latest
        node:
        - 12

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node }}

    - run: yarn install --frozen-lockfile
    - run: yarn test

  ember-cli-update:
    needs: test
    if: github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name == github.repository

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        ref: ${{ github.head_ref }}
        token: ${{ secrets.GitHubToken }}
    - uses: actions/setup-node@v2

    - uses: kellyselden/ember-cli-update-action@v3
      with:
        autofix_command: yarn lint:js --fix && yarn lint:md -o
        ignore_to: true
